body
{
	background-image: linear-gradient(to bottom, #f4f2f7, #bab8c3);
}

.TopMenu a.Top
{
	float: center;
	text-align: center;
	color: #fce300;
	padding: 0px 130px;
	font-size:40px;
}

.TopMenu 
{
	background-color: #333;
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.TopMenu a 
{
	float: left;
	color: #fce300;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

.TopMenu a:hover 
{
	background-color: #222;
}

.TopMenu a.Top:Hover
{
	background-color: #333;
}

.TopMenu a.split 
{
	float: right;
	background-color: #4c8c2b;
	color: white;
}

.TopMenu img
{
	float:left;
}

.TopMenu a.split:hover
{
	background-color: #3c7c1b;
}

.HeaderImage img
{
	position: relative;
	text-align: center;
	color: white;
	max-width: 69%;
	height: auto;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 40px;
}

.TopRight
{
	position: absolute;
	top: 9%;
	right: 17%;
	color: orange;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: .5px;
	font-size: 80px;
}

.HeaderImage a
{
	position: absolute;
	color: #fce300;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 40px;
	cursor: pointer;
	background-color: black;
	overflow: hidden;
	bottom: 25%;
	left: 25%;
}

.HeaderImage a:hover
{
	background-color:#333;
}

.ShopBar img
{
	max-width: 30%;
	top: 30px;
}

.ShopBar b
{
	font-size: 30px;
}

.first
{
	top: 50%;
	left: 20%;
}